In [1]:
# Dependencies
import pandas as pd

In [4]:
# Load in File from resources
budget_file = "budget_data.csv"

In [10]:
## Read and display preview with pandas
df_original = pd.read_csv(budget_file)
df_original.head(13)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806

In [7]:
#determine if any empty rows are present and remove them
df_original.count()

Date             86
Profit/Losses    86
dtype: int64

In [8]:
df_clean = df_original.dropna(how='any')
df_clean.count()

Date             86
Profit/Losses    86
dtype: int64

In [60]:
#find total number of months included in the dataset
print('Total number of months included:', df_clean['Date'].count(), 'months')

Total number of months included: 86 months

In [59]:
#find total net amount of "Profit/Losses" over the entire period
print('Net Profit/Losses over the entire period: $', df_clean['Profit/Losses'].sum())

Net Profit/Losses over the entire period: $ 38382578

In [61]:
#find average change in "Profit/Losses" between months over the entire period
#create second column for comparison
df_clean['Difference'] = df_clean['Profit/Losses'] - df_clean['Value Shift']
df_clean['Value Shift'] = df_clean['Profit/Losses'].shift(1)
print('Average change in Profit/Losses between months for entire period: $', df_clean['Difference'].mean())

Average change in Profit/Losses between months for entire period: $ -2315.1176470588234

In [17]:
#preview new columns
df_clean.head()

       Date  Profit/Losses  Difference  Value Shift
0  Jan-2010         867884         NaN          NaN
1  Feb-2010         984655    116771.0     867884.0
2  Mar-2010         322013   -662642.0     984655.0
3  Apr-2010         -69417   -391430.0     322013.0
4  May-2010         310503    379920.0     -69417.0

In [72]:
#find greatest increase in profits (date and amount) over the entire period
greatest_gain = df_clean['Difference'].max()

#if greatest_dif value is found in the 'Difference' column, then print the 'Date' column value for that row with the greatest_dif. 
print('Greatest Increase:')
print(df_clean.loc[df_clean['Difference'] == greatest_gain])

Greatest Increase:
        Date  Profit/Losses  Difference  Value Shift
25  Feb-2012        1170593   1926159.0    -755566.0

In [70]:
#find greatest decrease in losses (date and amount) over the entire period
greatest_decrease = df_clean['Difference'].min()

print('Greatest Decrease:')
print(df_clean.loc[df_clean['Difference'] == greatest_decrease])

Greatest Decrease:
        Date  Profit/Losses  Difference  Value Shift
44  Sep-2013       -1196225  -2196167.0     999942.0

In [ ]:
#print the analysis to the terminal and export a text file with the results